<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="/lib/css/linearicons.css" />
    <link rel="stylesheet" href="/lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/css/themify-icons.css" />
    <link rel="stylesheet" href="/lib/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/css/owl.carousel.css" />
    <link rel="stylesheet" href="/lib/css/nice-select.css" />
    <link rel="stylesheet" href="/lib/css/nouislider.min.css" />
    <link rel="stylesheet" href="/lib/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/lib/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/lib/css/magnific-popup.css" />
    <link rel="stylesheet" href="/lib/css/main.css" />
</head>

<body ng-controller="ConfirmationController">

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Xác nhận đơn hàng</h1>
                    <nav class="d-flex align-items-center">
                        <a href="#!/">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#!/confirmation">Xác nhận đơn hàng</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Order Details Area =================-->
    <section class="order_details section_gap">
        <div class="container">
            <h3 class="title_confirmation">Cảm ơn bạn. Đơn hàng của bạn đã được tiếp nhận.</h3>
            <div class="row order_d_inner">
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Thông tin đơn hàng</h4>
                        <ul class="list">
                            <li><a href="#"><span>Số đơn hàng</span> : 60235</a></li>
                            <li><a href="#"><span>Ngày</span> : Los Angeles</a></li>
                            <li><a href="#"><span>Tổng cộng</span> : 53,040,000 VND</a></li>
                            <li><a href="#"><span>Phương thức thanh toán</span> : Thanh toán bằng séc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Địa chỉ thanh toán</h4>
                        <ul class="list">
                            <li><a href="#"><span>Đường</span> : 56/8</a></li>
                            <li><a href="#"><span>Thành phố</span> : Los Angeles</a></li>
                            <li><a href="#"><span>Quốc gia</span> : Hoa Kỳ</a></li>
                            <li><a href="#"><span>Mã bưu chính </span> : 36952</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Địa chỉ giao hàng</h4>
                        <ul class="list">
                            <li><a href="#"><span>Đường</span> : 56/8</a></li>
                            <li><a href="#"><span>Thành phố</span> : Los Angeles</a></li>
                            <li><a href="#"><span>Quốc gia</span> : Hoa Kỳ</a></li>
                            <li><a href="#"><span>Mã bưu chính </span> : 36952</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Chi tiết đơn hàng</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Blackberry tươi Pixelstore</p>
                                </td>
                                <td>
                                    <h5>x 02</h5>
                                </td>
                                <td>
                                    <p>17,280,000 VND</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Blackberry tươi Pixelstore</p>
                                </td>
                                <td>
                                    <h5>x 02</h5>
                                </td>
                                <td>
                                    <p>17,280,000 VND</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Blackberry tươi Pixelstore</p>
                                </td>
                                <td>
                                    <h5>x 02</h5>
                                </td>
                                <td>
                                    <p>17,280,000 VND</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Tổng phụ</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>51,840,000 VND</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Vận chuyển</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>Phí cố định: 1,200,000 VND</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Tổng cộng</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>53,040,000 VND</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!--================End Order Details Area =================-->


</body>

</html>