<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/lib/css/linearicons.css" />
	<link rel="stylesheet" href="/lib/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/lib/css/themify-icons.css" />
	<link rel="stylesheet" href="/lib/css/bootstrap.css" />
	<link rel="stylesheet" href="/lib/css/owl.carousel.css" />
	<link rel="stylesheet" href="/lib/css/nice-select.css" />
	<link rel="stylesheet" href="/lib/css/nouislider.min.css" />
	<link rel="stylesheet" href="/lib/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/lib/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/lib/css/magnific-popup.css" />
	<link rel="stylesheet" href="/lib/css/main.css" />
</head>

<body ng-controller="LoginController">

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Đăng nhập/Đăng ký</h1>
                    <nav class="d-flex align-items-center">
                        <a href="#!/">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#!/login">Đăng nhập/Đăng ký</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Khu vực Đăng Nhập =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="/assets/img/login.jpg" alt="">
                        <div class="hover">
                            <h4>Bạn mới đến với website của chúng tôi?</h4>
                            <p>Có nhiều tiến bộ đang diễn ra trong khoa học và công nghệ mỗi ngày, và một ví dụ tốt về
                                điều này là</p>
                            <a class="primary-btn" href="registration.html">Tạo Tài Khoản</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Đăng nhập để vào hệ thống</h3>
                        <form class="row login_form" action="contact_process.php" method="post" id="contactForm"
                            novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Tên người dùng" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Tên người dùng'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Mật khẩu" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Mật khẩu'">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Giữ tôi đăng nhập</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Đăng Nhập</button>
                                <a href="#">Quên Mật Khẩu?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Kết thúc Khu vực Đăng Nhập =================-->
    
</body>

</html>